.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.content {
    padding: 0 56px;
    border-top: 10px solid #555555;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
    padding-bottom: 50px;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.movie-detail-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.back {
    width: 45px;
    color: #f65261;
    font-size: 40px;
    cursor: pointer;
    align-self: flex-end;
}
