.app-wrapper {
    width: 1200px;
    margin: 0 auto;

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 400px;
        background-color: #232323;
    }

    .content {
        padding: 0 56px;
        margin-top: 10px;
        background-color: #232323;
    }

    .movie-list {
        display: flex;
        flex-wrap: wrap;
        gap: 56px;
        padding-bottom: 50px;
    }

    .control-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
}
