.search-input {
    width: 713px;
    height: 57px;
    padding: 17px;
    font-size: 20px;
    background: #323232cc;
    border: none;
    outline: none;
}

.btn-search {
    width: 233px;
    height: 57px;
    margin-left: 14px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #f65261;
    color: #fff;
    border: none;
    cursor: pointer;
}
